<navbar></navbar>
<main>
  	<div class="container-fluid printing">
		<div class="row">
			<div class="col-lg-12">
				<h3>Printing Order <small>Drag & Drop Items between the lists</small></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 itemsList">
				<h4>Un-ordered Items</h4>
				<div class="list-group" ui-on-Drop="$ctrl.onDropItem($event,$data)">
					<a
						ng-repeat="item in $ctrl.items" 
						ui-draggable="true"
						drag="item"
						ng-hide="item.__hasPrintingOrder"
						class="list-group-item">			            
    					<h4 class="list-group-item-heading">{{item.name}}</h4>
					</a>
				</div>				
			</div>
			<div class="col-lg-6 orderList">
				<h4>Ordered Items</h4>
				<div class="list-group" ui-on-Drop="$ctrl.onDropOrder($event,$data,'container')">
					<a 
						class="list-group-item" 
						ng-hide="$ctrl.printingOrder.length===0">
						<h6 class="dropzone" ui-on-Drop="$ctrl.onDropOrder($event,$data,'first')">&nbsp;</h6>
					</a>
					<a
						ng-repeat="item in $ctrl.printingOrder" 						
						class="list-group-item">			            
    					<h4 
    						class="list-group-item-heading"
    						ui-draggable="true"
    						drag="item"
    						>{{item.name}}</h4>
    					<h6 class="dropzone" ui-on-Drop="$ctrl.onDropOrder($event,$data,item)">&nbsp;</h6>
					</a>
				</div>
			</div>
    	</div>
  	</div>
</main>